
@import '_vars';

// body bg
body {
    background-image: url('../images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;

    max-width: 828px;
    width: 828px;
    margin: auto;
    * {
        outline: none;
    }
    // on modal open
    &.ReactModal__Body--open {
        overflow: hidden;
    }
}

// hyperlink
a {
    text-decoration: none;
    bottom: 0;
    outline: 0;
}


// backgrounds
.bg-white {
    background-color: #fff;
}

.bg-black {
    background: #191717;
}

// black bg contaienr
.bg-black-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

// modal styles
.modal-outer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-color: rgba(0,0,0,0.8);
    .modal-inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
