
// vars
@import 'vars';


// text-align
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}

// vertical-align
.valign-center {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// containers
.container {
    margin: auto;
    max-width: 100%;
    // medium
    &-m {
        width: 1500px;
    }
    // s
    &-s {
        width: 455px;
    }
    &-fluid {
        width: 100%;
    }
    // ui container
    &-ui {
        width: 1048px;
    }
}

// no margin
.no-margin {
    &-bottom {
        margin-bottom: 0;
    }
    &-top {
        margin-top: 0;
    }
    &-all {
        margin: 0;
    }
}

// multiliners
.multiliner {
    * {
        margin-bottom: 10px;
        margin-top: 0;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
