
// colors

// gray
$gray: #77787b;
$darkgray: #5e5958;
$gray-a: #888888;
$gray-b: #393938;
$litegray: #c7c8c8;

// red
$red: #ed1c24;
$red-a: #E52A2A;
$red-b: #C00D0D;
$loader-redA: #b11117;
$loader-redB: #eb1c24;

// light gray
$light-gray-a: #e4e5e6;
$light-gray-b: #c6c8ca;
