/*
 *
 * DBS Priority Pay Stylesheet
 * Authors: Navaneeth S, Vishnu M - BlueBucket
 *
*/
@font-face {
  font-family: 'frutiger-bold';
  src: url("./modules/fonts/FrutigerLTStd-Bold.eot");
  src: url("./modules/fonts/FrutigerLTStd-Bold.eot?#iefix") format("embedded-opentype"), url("./modules/fonts/FrutigerLTStd-Bold.woff") format("woff"), url("./modules/fonts/FrutigerLTStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'frutiger-light';
  src: url("./modules/fonts/FrutigerLTStd-Light.eot");
  src: url("./modules/fonts/FrutigerLTStd-Light.eot?#iefix") format("embedded-opentype"), url("./modules/fonts/FrutigerLTStd-Light.woff") format("woff"), url("./modules/fonts/FrutigerLTStd-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'frutiger-roman';
  src: url("./modules/fonts/FrutigerLTStd-Roman.eot");
  src: url("./modules/fonts/FrutigerLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("./modules/fonts/FrutigerLTStd-Roman.woff") format("woff"), url("./modules/fonts/FrutigerLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

h1 {
  font-size: 110px; }

h2 {
  font-size: 85px; }

h3 {
  font-size: 65px; }

h4 {
  font-size: 40px; }

p {
  font-size: 18px;
  margin: 0 0 10px; }

.btn {
  border-radius: 5px;
  padding: 15px;
  border: none;
  color: #fff;
  font-size: 40px;
  letter-spacing: 1pt;
  margin: 50px 0;
  cursor: pointer;
  outline: none; }
  .btn.btn-red {
    background-color: #ed1c24; }
  .btn.btn-m {
    min-width: 240px; }
  .btn.btn-s {
    font-size: 18px;
    padding: 10px 25px 6px; }
  .btn.btn-xl {
    font-weight: bold;
    width: 640px;
    padding: 40px;
    font-size: 65px;
    border-radius: 25px; }
    .btn.btn-xl span {
      font-size: 45px; }

select {
  background-image: linear-gradient(45deg, transparent 50%, #FFF 50%), linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(to right, #ed1c24, #ed1c24);
  background-position: calc(100% - 19px) calc(1em + 0px), calc(100% - 10px) calc(1em + 0px), 100% 0px;
  background-size: 11px 10px, 10px 10px, 2.5em 2.5em;
  background-repeat: no-repeat;
  background-color: #dcddde;
  border: thin solid #77787b;
  border-radius: 0;
  color: #666766;
  line-height: 1.5em;
  display: inline-block;
  padding: 0.5em 1.5em 0.5em 1em;
  margin: 0;
  outline: 0;
  min-width: 600px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none; }

.ff-arial {
  font-family: Arial; }

.ff-frBold {
  font-family: 'frutiger-bold';
  font-weight: normal; }

.ff-frLight, select {
  font-family: 'frutiger-light';
  font-weight: normal; }

.ff-frRoman {
  font-family: 'frutiger-roman';
  font-weight: normal; }

.fc-gray {
  color: #77787b; }

.fc-darkgray {
  color: #5e5958; }

.fc-white {
  color: #ffffff; }

.fc-gray {
  color: #404041; }

.fc-litegray {
  color: #c7c8c8; }

.fc-lightgray-a {
  color: #e4e5e6; }

.fc-lightgray-b {
  color: #c6c8ca; }

.fc-gradient-gray {
  background: -webkit-linear-gradient(#888888, #393938);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.fc-gradient-red {
  background: -webkit-linear-gradient(#E52A2A, #C00D0D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

body {
  background-image: url("../images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 828px;
  width: 828px;
  margin: auto; }
  body * {
    outline: none; }
  body.ReactModal__Body--open {
    overflow: hidden; }

a {
  text-decoration: none;
  bottom: 0;
  outline: 0; }

.bg-white {
  background-color: #fff; }

.bg-black {
  background: #191717; }

.bg-black-container {
  width: 100%;
  height: 100%;
  position: absolute; }

.modal-outer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.8); }
  .modal-outer .modal-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.valign-center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.container {
  margin: auto;
  max-width: 100%; }
  .container-m {
    width: 1500px; }
  .container-s {
    width: 455px; }
  .container-fluid {
    width: 100%; }
  .container-ui {
    width: 1048px; }

.no-margin-bottom {
  margin-bottom: 0; }

.no-margin-top {
  margin-top: 0; }

.no-margin-all {
  margin: 0; }

.multiliner * {
  margin-bottom: 10px;
  margin-top: 0; }
  .multiliner *:last-child {
    margin-bottom: 0; }
