// vars
@import '../../styles/modules/_vars'; // bank ui

.transfer-ui {
    margin: 30px auto;
    padding-bottom: 30px;
    // header
    .header {
        background-color: #231f20;
        padding: 20px 30px 15px;
        border-bottom: 10px solid #ed1c24;

        img {
            max-width: 150px;
        }
    }
    //vaali
    p {
       color: #636466;
       font-family: frutiger-roman;
       &.sfont {
           margin-top: 10px;
           font-size: 12px;
       }
       &.ff-dark{
           color: #191717;
           font-size: 20px;
       }
       &.ff-light{
           font-family: 'frutiger-light';
       }
    }
    //vaali
    .mTop0{
       margin-top: 0px
    }
    //vaali

    // inner container
    .container-inner {
        width: 800px;
    }

    // grid
    .grid {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        align-items: baseline;
        .left {
            width: 200px;

            p {
                margin-bottom: 0;
            }
        }
        &.input-boxes {
            margin-bottom: 0;
        }
        &.sec-input {
            margin-top: 50px;
            margin-bottom: 0;
        }

       &.bank-details{
           .left {
               width: 275px;
               text-align: left;
           }
       }
    }

    .input-container input:nth-child(2) {
        margin-left: 80px;
        text-indent: 20px;
    }

    .input-container.first-input {
        position: relative;
    }

    .input-box {
        width: 100px;
        height: 33px;
        border: 1px #acaeb4 solid;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        padding-left: 10px;
        text-indent: 35px;
    }

    .input-box.usd {
        background: url("./img/usd-icon.png") no-repeat scroll 7px 7px;
        color: #636466;
        font-size: 12px;
    }

    .input-box.sgd {
        background: url("./img/sgd-icon.png") no-repeat scroll 7px 7px;
        color: #636466;
        font-size: 12px;
    }

    .desc {
        font-size: 10px;
    }

    .container-tick {
        display: inline;
        position: absolute;
        left: 290px;
        top: 5px;

        //vaali
        & .tick-text {
            display: inline;
            position: absolute;
            left: 65px;
            top: -18px;
            width: 140px;
        }
        //vaali
        & .link-text {
            display: inline;
            position: absolute;
            left: 65px;
            top: 135px;
            width: 177px;
        }
    }

    .container-link {
        display: inline;
        position: absolute;
        left: 283px;
        top: 0;
    }
}
// modal styles
.modal-inner {
    // dollar
    .dollar-img {
        width: 50px;
        margin-bottom: 10px;
    }
    // tick
    .tick-img {
        width: 250px;
    }

    .loader {
        width: 525px;
        margin: auto;
        // loader
        .loader-outer {
            width: 500px;
            background: white;
            height: 50px;

            .loader-inner {
                height: 100%;
                width: 30px;
                background: linear-gradient(to right, $loader-redA , $loader-redB);
            }
        }
    }
}
