.transfer-ui {
  margin: 30px auto;
  padding-bottom: 30px; }
  .transfer-ui .header {
    background-color: #231f20;
    padding: 20px 30px 15px;
    border-bottom: 10px solid #ed1c24; }
    .transfer-ui .header img {
      max-width: 150px; }
  .transfer-ui p {
    color: #636466;
    font-family: frutiger-roman; }
    .transfer-ui p.sfont {
      margin-top: 10px;
      font-size: 12px; }
    .transfer-ui p.ff-dark {
      color: #191717;
      font-size: 20px; }
    .transfer-ui p.ff-light {
      font-family: 'frutiger-light'; }
  .transfer-ui .mTop0 {
    margin-top: 0px; }
  .transfer-ui .container-inner {
    width: 800px; }
  .transfer-ui .grid {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    align-items: baseline; }
    .transfer-ui .grid .left {
      width: 200px; }
      .transfer-ui .grid .left p {
        margin-bottom: 0; }
    .transfer-ui .grid.input-boxes {
      margin-bottom: 0; }
    .transfer-ui .grid.sec-input {
      margin-top: 50px;
      margin-bottom: 0; }
    .transfer-ui .grid.bank-details .left {
      width: 275px;
      text-align: left; }
  .transfer-ui .input-container input:nth-child(2) {
    margin-left: 80px;
    text-indent: 20px; }
  .transfer-ui .input-container.first-input {
    position: relative; }
  .transfer-ui .input-box {
    width: 100px;
    height: 33px;
    border: 1px #acaeb4 solid;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding-left: 10px;
    text-indent: 35px; }
  .transfer-ui .input-box.usd {
    background: url("./img/usd-icon.png") no-repeat scroll 7px 7px;
    color: #636466;
    font-size: 12px; }
  .transfer-ui .input-box.sgd {
    background: url("./img/sgd-icon.png") no-repeat scroll 7px 7px;
    color: #636466;
    font-size: 12px; }
  .transfer-ui .desc {
    font-size: 10px; }
  .transfer-ui .container-tick {
    display: inline;
    position: absolute;
    left: 290px;
    top: 5px; }
    .transfer-ui .container-tick .tick-text {
      display: inline;
      position: absolute;
      left: 65px;
      top: -18px;
      width: 140px; }
    .transfer-ui .container-tick .link-text {
      display: inline;
      position: absolute;
      left: 65px;
      top: 135px;
      width: 177px; }
  .transfer-ui .container-link {
    display: inline;
    position: absolute;
    left: 283px;
    top: 0; }

.modal-inner .dollar-img {
  width: 50px;
  margin-bottom: 10px; }

.modal-inner .tick-img {
  width: 250px; }

.modal-inner .loader {
  width: 525px;
  margin: auto; }
  .modal-inner .loader .loader-outer {
    width: 500px;
    background: white;
    height: 50px; }
    .modal-inner .loader .loader-outer .loader-inner {
      height: 100%;
      width: 30px;
      background: linear-gradient(to right, #b11117, #eb1c24); }
