
// logo container
.logo-container {
    * {
        display: inline-block;
        vertical-align: middle;
    }
    img {
        width: 310px;
        padding-right: 30px;
        padding-bottom: 20px;
    }
}

// full height container
.container {
	&.full-height {
		height: 100%;
		width: 100%;
		position: absolute;
	}
}
