.logo-container * {
  display: inline-block;
  vertical-align: middle; }

.logo-container img {
  width: 310px;
  padding-right: 30px;
  padding-bottom: 20px; }

.container.full-height {
  height: 100%;
  width: 100%;
  position: absolute; }
